body
	margin 0 auto
	padding 3rem 1rem
	background #ddd
	width 62.5rem
	font-family "Lexend"

button
	@apply transition
	font-size inherit
	font-family inherit
	border 0
	cursor pointer

p
h1
h2
h3
h4
h5
h6
	margin 0

h2
	font-size 1.4rem